*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color_vert: linear-gradient(0.1turn, #284e23 50%,#0e7b00);
    --color_vert_font: #284e23 ;
    --color_vert_font_hover: #284e239f ;
    --color_vert-hover: linear-gradient(0.1turn, #284e23b3 50%,#0e7b00b1);
}
body{
    overflow-x: hidden;

}
.partie1{
    width: 100vw;
    height: 500px;
    background-image: url("../assets/images/tea-2356770_1920.jpg");
    background-size: 100% 100%;
    background-color: aliceblue;
    position: relative;
  
    display: flex;
    flex-direction: column;
    align-items: center;
}
.partie1 .zyada{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    
}
header img{
    height: 100%;
}
header >ul{
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;


}
header> ul >li >a{
    color: white;
text-decoration: none;
font-weight: 600;
font-size: 16px;
text-transform: uppercase;

}
.color_a{
    color:var(--color_vert_font);

}
.color_a:hover{
    color:var(--color_vert_font_hover);
}
header> ul> li:hover a{
    color:var(--color_vert_font);
}
header >ul .btn_log{
    border: 2px solid white;
    padding: 15px 20px;
    border-radius: 5px;
}
header ul .btn_log:hover{
    background-color: white;
}
header ul .btn_log:hover a{
    color:var(--color_vert_font);
}
header ul .btn_log2{
    border: 2px solid white;
    padding: 15px 20px;
    border-radius: 5px;
   
    background:var(--color_vert);
}
header ul .btn_log2:hover{
    background:var(--color_vert-hover);

   
}


header> ul> .btn_log_login{
    display: flex;
    gap: 5px;
    align-items: center;
    padding-block: 15px;
    border-radius: 5px;
    color:white;
    
    position: relative;
    text-transform: capitalize;

}

header> ul> .btn_log_login2{
    color:var(--color_vert_font);


}

header> ul> .btn_log_login:hover{
    color: var(--color_vert_font);
}
header> ul> .btn_log_login:hover> i{
    border: 1px solid var(--color_vert_font);
    border-bottom-width:4px;


}
header> ul> .btn_log_login2:hover{
    color: var(--color_vert_font);

}

header> ul> .btn_log_login2:hover> i{
    border: 1px solid var(--color_vert_font);
    border-bottom-width:4px;


}
header> ul >.btn_log_login> i{
   
    background-color: #eee;
    border: 1px solid white;
    border-bottom-width:4px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 7px;
   
}
header> ul >.btn_log_login2> i{
    border-color: var(--color_vert_font);
}
.under_log{
    position: absolute;
    top: 60px;
    left: 10px;
    list-style: none;
    width: 140px ;
    background-color: white;
    border: 1px solid  #d7d7d7 ;
    opacity: 0;

}
.under_log li{
    padding: 10px;
}
.under_log li a{
    color: var(--color_vert_font);
    text-decoration: none;
}
.under_log li:hover a{
    color: white;
    text-decoration: none;
}
.under_log li:hover{
    background-color: var(--color_vert_font);
    color: white;
}
header> ul >.btn_log_login:hover .under_log{
    opacity: 1;
}

.partie1 .welco{
    max-width: 1000px;
    min-height: 200px;
    color: white;
    justify-self: center;
    margin-top: 100px;
    text-align: center;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 20px 40px 20px;
}
.partie1 .welco h2{
    font-size: 45px;
    font-weight: 600;
    text-transform: capitalize;
}


.partie4{
    width: 100vw;
    min-height: 500px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}
.partie4 h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}


.partie4> div{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}
.partie4> div >div{
    width: 280px;
    box-shadow: 0 0  10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
   position: relative;
   overflow: hidden;
   background-color: #f9f7ef;
}
.partie4> div> div img{
  cursor: pointer;
   margin: 0 auto;
   width: 100%;
   height:330px;

}
.partie4> div> div>div{
    padding: 10px 20px;
}
.partie4> div> div>div h3{
    font-size: 23px;
    margin-bottom: 10px;
    text-transform:capitalize ;
    cursor: pointer;

}
.partie4> div> div>div h3:hover{
    color: #c7511f;
    text-decoration: underline;
}



.detail{
    position: fixed;
    top:  0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
  
}
.detail > div{
    background-color: rgb(246, 246, 246);
    width: 600px;
    display: flex;
    border-radius: 5px ;
    padding: 30px ;
    gap: 30px;
    position: relative;

}
.detail >div i{
    position: absolute;
    right: 13px;
    top: 10px;
    cursor: pointer;
}
.detail >div i:hover{
    color: #000000ab;
}
.detail > div img{
   
    width: 220px;
    height: 300px;
    border-radius: 10px;
    
} 
.detail > div >div{
   flex: 1;
   padding: 20px 0;
   display: flex;
   flex-direction: column;
   gap: 10px;
} 

.detail > div >div h2{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;

}
.detail > div >div p{
    font-size: 19px;
    color: #284e23;
    text-transform: capitalize;

}
.detail > div>div >div{
    display: flex;
    gap: 10px;

}
.detail > div>div >div:first-of-type button{
    padding: 10px ;
    border-radius: 30px;
    border: #284e23 1px solid;
    background-color: #ffffff;
    color: #284e23;
    cursor: pointer;
}
.detail > div>div >div:first-of-type .activ{
    
    
    border: #284e23 2px solid;
    background-color: #1d1d1d;
    color: white;
}
.detail > div >div >p:last-of-type{
 margin-top: 10px;
    font-weight: 600;
    font-size: 22px;
}
.detail > div >div hr{
    height: 1px;
    border: transparent;
    background-color: gainsboro;
}
.detail > div >div>div:last-child{
    align-items: center;
    
}
.detail > div >div>div:last-child button{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 30px;
    border: #284e23 1px solid;
    font-size: 40px;
    background-color: transparent;
    color: #284e23;
}
.detail > div >div>div:last-child button:hover{
    background-color: white;
   
}
.detail > div >div>div:last-child p{
    color: #284e23;
    font-size: 25px;
}
.detail > div >div>div:last-child input{
    width: 150px;
    height: 45px;
    background:var(--color_vert);

    border-radius: 20px;
    color: white;
    text-transform: capitalize;
    border: transparent;
    font-size: 16px;
    cursor: pointer;
}
.detail > div >div>div:last-child input:hover{
    background:var(--color_vert-hover);


}
footer{
    width: 100vw;
    height: 150px;
    background-color: #251c1c;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: end;
}
footer div{
    display: flex;
    gap: 10px;
}
footer div i{
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 7px;
}
footer div i:hover{
    background:var(--color_vert);

    color: #ffffff;
}
footer ul {
    list-style: none;
    display: flex;
    gap: 10px;

}
footer ul li a{
    color: white;
    text-decoration: none;
}
footer ul li:hover a {
    color: #dcdcdcba;
}
footer p{
    color: white;
    background-color: #000000;
    width: 100%;
    padding: 2px;
    text-align: center;
}
.cart{
    position: fixed;
    top:  0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    justify-content: right;
    align-items: center;
  
}

.my_cart{
    width: 400px;
    height: 100%;
    background-color: white;
    box-shadow: 0 0  10px 2px rgba(0, 0, 0, 0.1);
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}
.my_cart>div:first-child{
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d1d1d1 ;
}
.my_cart>div:first-child h2{
    font-size: 25px;
    font-weight: 500;
    color: rgb(1, 45, 1);

}
.my_cart>div:first-child i{
    color:rgb(1, 45, 1);
    cursor: pointer;
}

.my_cart>div:first-child i:hover{
    color:rgba(1, 45, 1, 0.592);
}


.my_cart>div:nth-of-type(2) {
    width: 100%;
    height: 450px;
    overflow: auto;
  
}

.my_cart>div:nth-of-type(2) >div{
    width: 100%;
    height: 200px;
    display: flex;
    padding: 20px;
    gap: 15px;
    border-bottom: 1px solid #d1d1d1 ;

}

.my_cart>div:nth-of-type(2) >div img{
    width: 120px;
    height: 150px;
}
.my_cart>div:nth-of-type(2) >div>div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.my_cart>div:nth-of-type(2) >div>div h2{
    text-transform: capitalize;
    color: #0d2b09;
}
.my_cart>div:nth-of-type(2) >div>div p:first-of-type{
    color: #1f5518;
    font-weight: 600;

}
.my_cart>div:nth-of-type(2) >div>div p:last-of-type{
    color: #929f8d;

}
.my_cart>div:nth-of-type(2) >div>div>div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.my_cart>div:nth-of-type(2)>div>div>div p:first-of-type{
    color: #284e23;
    font-size: 25px; 
}
.my_cart>div:nth-of-type(2)>div>div>div p:last-of-type{
    color: #4a7045;
    font-size: 25px; 
    cursor: pointer;
    font-weight: 600;
}
.my_cart>div:nth-of-type(2)>div>div>div p:last-of-type:hover{
    color: #284e23;
   
   
}
.my_cart>div:nth-of-type(2)>div>div>div button{
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 30px;
    border: #284e23 1px solid;
    font-size: 25px;
    background-color: transparent;
    color: #284e23;
}
.my_cart>div:nth-of-type(2) >div button:hover{
    background-color: white;
   
}
.my_cart>div:nth-of-type(2) .cas_error{
    width: 100%;
    height: 200px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: transparent ;


}
.my_cart>div:last-child{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 200px;
    box-shadow: 0 0  10px 2px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    display: none;
    z-index: 10000000000;
    background-color: white;

}
.my_cart>div:last-child p:first-child{
    font-size: 17px;
    text-transform: capitalize;
    color: rgb(1, 45, 1);

}
.my_cart>div:last-child p:nth-of-type(2){
    font-size: 35px;
    color: darkgreen;
    font-weight: 600;

}
.my_cart>div:last-child p:last-of-type{
    color: rgba(15, 53, 15, 0.686);
    margin-bottom: 10px;
}
.my_cart>div:last-child button,
.my_cart>div:nth-of-type(2) .cas_error a{
    width: 350px;
    border-radius: 20px;
    background:var(--color_vert);

    border: transparent;
    color: white;
    font-size: 17px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}
.my_cart>div:last-child button:hover,
.my_cart>div:nth-of-type(2) .cas_error a:hover{
    background:var(--color_vert-hover);

}
.cart_order{
   position: fixed;
   right: 0;
   top: 200px;
   width: 40px; 
   background-color: white;
   border-radius: 10px 0 0 10px ;
   padding: 10px;
   border: #000000 2px solid;
   border-right: transparent;
   cursor: pointer;
   z-index: 1000;
}
.cart_order:hover{
    background-color: rgba(220, 220, 220, 0.679);
   border: #0000005f 2px solid;
   border-right: transparent;
   color: #575757;
}